div.header {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    display: block;
}

div.header-content {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 100%;
    z-index: 5;
}

a.nav-link[role=tab], a.nav-link:hover[role=tab] {
    color: #000000cc !important;
}