* {
    margin: 0;
}

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

input, button {
    box-shadow: none !important;
}

h1.err, h2.err {
    text-shadow: 2px 2px 5px black;
}

a {
    text-decoration: none !important;
}

.loader {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

a.nav-link {
    color: rgba(255, 255, 255, 0.75) !important;
}

a.nav-link:hover {
    color: rgba(255, 255, 255, 0.95) !important;
}

div.content {
    margin-top: 80px;
}