:root {
    --primary-color: #1470bb;
}

* {
    margin: 0;
}

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

input, button {
    box-shadow: none !important;
}

h1.err, h2.err {
    text-shadow: 2px 2px 5px black;
}

.loader {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div.content {
    margin-top: 90px;
    min-height: 88vh;
    padding-bottom: 10px;
}

footer > small {
    font-size: 0.7rem;
}

/* Primary color */

.bg, .btn-primary, .badge-primary {
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn-primary:hover {
    filter: brightness(0.95) !important;
}

.form-control {
    border-color: var(--primary-color) !important;
}

a {
    text-decoration: none !important;
    color: var(--primary-color) !important;
}

a:hover {
    color: var(--primary-color) !important;
    filter: brightness(0.4);
}

/* Navbar */

a.navbar-brand, a.navbar-brand:hover, a.nav-link, a.nav-link:hover {
    color: #ffffffe6 !important;
    filter: brightness(100%);
}

a.nav-link {
    color: #ffffffbf !important;
    filter: brightness(100%);
}

a.nav-link:hover {
    color: #fffffff2 !important;
    filter: brightness(100%);
}